/*
 Theme Name:     Divi-Child
 Theme URI:    http://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     http://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
@import url("../Divi/style.css");

 
/* =Theme customization starts here
------------------------------------------------------- */

/* [Object] Modal
 * =============================== */
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .3);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
 
  }
}


/* Other
 * =============================== */
@media screen and (max-width: 360px) {
	.bton{
	color: white;
	background-color: red;
	font-size:3.4vw;
}

.content {
    width: 80%;
    height: 100PX;
    position: absolute;
    top:0;
    bottom: 0;
    left: 10%;
    right: 0;
    margin: auto;
    white-space: nowrap;
    font-size:3.4vw;
}
 
}

.postcode { width: 90%; height: 45%; border: 1px solid #999999; padding: 5px; font-size:3.0vw; border-radius: 3px;
    -moz-border-radius: 3px;}

.bton{
	color: white;
	background-color: red;
}


.btn {
  cursor: pointer;
  background: #27ae60;
  border: 1px solid;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
  width:130px;
  height: 45px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}


.centerImage {
    width: 50%;
    margin: 0 auto;
}
