.tipsy-inner { background-color: #000; color: #fff; }
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.tipsy-arrow {border: 5px dashed #000; }

.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

/* common */
div.userpro a {color: #6e7e8f}

div.userpro a,
div.userpro input[type=text],
div.userpro input[type=password],
div.userpro-label span.userpro-field-icon

{
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

/* logout link */
a.userpro-small-link {
	color: #fff !important;
	background: #f23824;
	border-radius: 3px;
}
a.userpro-small-link:hover {background-color:#f23824 !important;opacity: 0.65 !important}

/* popup close */
div.userpro-overlay-inner div.userpro a.userpro-close-popup {
	color: #fff;
	background: url(img/close.png) no-repeat right center;
}

/* posts by user */
div.userpro-post {
	background: #fff !important;
	border-radius: 3px;
	box-shadow: 0 1px 4px #ddd !important;
	border: 1px solid #e5e5e5;
}
div.userpro-post a, div.userpro-post a:hover {
	color: #555 !important;
}
div.userpro-post-img a span.shadowed {
	border-radius: 3px 3px 0 0  !important;
	background: #999;
}
div.userpro-post-img a span.iconed {
	border-radius: 3px 3px 0 0  !important;
	background: url(img/icon-link.png) no-repeat center;
}

div.userpro-post-img, div.userpro-post-img img {
	border-radius: 3px 3px 0 0  !important;
}

div.userpro-post-title a:hover {color: #f23824 !important;}

div.userpro-post-stat {
	border-top: 1px solid #eee;
}

div.userpro-post-stat a {color: #555 !important;}
div.userpro-post-stat a:hover {color: #f23824 !important;}

div.userpro-post.userpro-post-compact img {border-radius: 999px !important}

/* other buttons */
a.userpro-flat-btn {
	background: #e9e9e9 !important;
	color: #333 !important;
	border-radius: 3px !important;
}
a.userpro-flat-btn:hover {background: #ddd !important}

/* online */
a.userpro-online-i-thumb img {
	border-radius: 999px;
}

/* elegant member directory */
div.userpro-awsm {
	border: 1px solid #e5e5e5;
}

div.userpro-awsm-pic img {border-radius: 999px;background: #fff;}
div.userpro-awsm-pic {border-radius: 999px; border: 1px solid #e5e5e5; background: #fff;}

div.userpro-awsm-name a {color: #444 !important;}
div.userpro-awsm-name a:hover {color: #f23824 !important}

div.userpro-awsm-meta {color: #bbb !important;}

div.userpro-awsm-bio {color: #999 !important;}

/* card design */
div.userpro-card-left, div.userpro-card-left a {
	color: #444 !important;
}

div.userpro-card-bio {
	color: #999 !important;
}

/* search results */
div.userpro-search-results {
	color: #666;
}
div.userpro-search-results span {color: #444}

/* list item */
div.userpro-list-item-bio {
	color: #999 !important;
}

div.userpro-online-item-bio {
	color: #999 !important;
}

a.userpro-online-i-name {color: #f23824 !important;}
a.userpro-online-i-name:hover {color: #444 !important; }

a.userpro-online-i-name.admin,
a.userpro-online-item-name.admin
{color: #336699 !important}

/* custom alert box */
div.userpro-alert {
	background: #ff4c4c !important;
	color: #fff !important;
}
div.userpro-alert i {color: #fff !important;}
div.userpro-alert-content, div.userpro-alert-input {color: #fff !important;}
a.userpro-alert-close, a.userpro-alert-edit{
	color: #fff !important;
}

/* misc elements */
div.userpro-help {
	color: #999 !important;
}

div.userpro-help i {
	color: #79a519 !important;
}

span.userpro-tip {
	background: url(img/help.png) no-repeat;
}

div.userpro-warning {
	color: #fff !important;
    border: solid 1px #bd3d3d !important;
    box-shadow: inset 0 1px #e16565 !important;
	background: #c24a4a !important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d14242), to(#c24a4a)) !important;
    background: -moz-linear-gradient(0% 0% 270deg,#d14242, #c24a4a) !important;
}
div.userpro-warning i {color: #d14242 !important;}
div.userpro-warning a {color: #fff !important}

div.userpro-message p {
	background: #fffeda;
	border: 1px solid #f9f893;
	border-radius: 0;
	color: #444;
}

div.userpro-input div.icon-ok {
	border-radius: 0;
	color: #79a519 !important;
}
div.userpro-input div.icon-ok i {color: #79a519 !important}

span.strength-container {border: 1px solid #dee5ec;}
span.strength-plain{background: #dee5ec;}
span.strength-plain.fill{background:#75c03d}
span.strength-text {color: #666;}

/* icons */
a.userpro-profile-icon {
	background: #fff !important;
	color: #f67e71 !important;
	border: 1px solid #f67e71 !important;
}
a.userpro-profile-icon i {color: #f67e71 !important;}
a.userpro-profile-icon:hover  {border-color: #f23824 !important; background:  #f23824!important;
	color: #fff !important;}
a.userpro-profile-icon:hover i {border-color: #f23824 !important; background:  #f23824!important;
	color: #fff !important;}

/* buttons */
input.userpro-button,
a.userpro-button,
div.userpro div.ajax-file-upload {
	border-radius: 3px  !important;
	color: #fff !important;
        border-color:  #fff !important;
	background: #f23824 !important;
        border: none !important;
        box-shadow: none !important; 
        -webkit-appearance: none;
}

input.userpro-button:hover,
a.userpro-button:hover {
        opacity: 0.65;
        border: none !important;
        box-shadow: none !important; 
	background: #f23824 !important;
        border-color:  #f23824 !important;
}

input.userpro-button:active,
a.userpro-button:active,
div.userpro div.ajax-file-upload:active {
	position: relative  !important;
	top: 1px  !important;
}

input.userpro-button.secondary,
a.userpro-button.secondary,
div.userpro div.ajax-file-upload{
        border-radius: 3px  !important;
        color: #fff !important;
        border-color: #fff !important;
	background: #00d873 !important;
        border: none !important;
        box-shadow: none !important; 
       -webkit-appearance: none;
}

input.userpro-button.secondary:hover,
a.userpro-button.secondary:hover,
div.userpro div.ajax-file-upload:hover {
        color: #fff !important;
	background: #00d873 !important;        
        border-color: #00d873 !important;
        border: none !important;
        box-shadow: none !important;         
        opacity: 0.65;
}

input.userpro-button.red,
a.userpro-button.red{
	color: #fff !important;
        border-color:  #fff !important;
	background: #f23824 !important;
        -webkit-appearance: none;
}

input.userpro-button.red:hover,
a.userpro-button.red:hover {
        color: #fff !important;
	background: #f23824 !important;        
        border-color: #f23824 !important;
        opacity: 0.65;
}

a.userpro-button.secondary.userpro-button-active,
a.userpro-button.secondary.userpro-button-active:hover,
a.userpro-button.secondary.userpro-button-active:focus
 {
	cursor: default !important;
	background: #fff !important;
	box-shadow: none !important;
}

/* widget */
div.userpro {
	border-radius: 0;
	background: #fff;
	color: #666;
	border: 1px solid #eee;
}

/* head part */
div.userpro-head,
div.userpro-centered {
	border-radius: 0;
    background: #fafafa url(img/pattern.png) repeat;
	border-bottom: 1px solid #eee;
}
div.userpro-head.userpro-centered-header-only,
div.userpro-centered.userpro-centered-header-only 
{
	border-bottom: 0 !important;
}

/* profile css */
div.userpro-profile-name {color: #444 !important;}
div.userpro-profile-name a {color: #444 !important;}

div.userpro-profile-img img {
	border-radius: 999px;
	padding: 5px !important;
	background: #fff !important;
	border: 1px solid #ccc !important;
}

/* form section */
div.userpro-section {
	border-bottom: 1px solid #eee;
	border-radius: 0;
	text-shadow: 0 1px #fff;
	color: #aaa !important;
}

div.userpro-section.userpro-collapsed-1 {
	color: #666 !important;
	border-bottom-width: 0px !important;
	padding: 0 !important;
}

ins.userpro-section-warning {
	color: #fff !important;
    border: solid 1px #bd3d3d !important;
	background: #c24a4a !important;
}

/* form fields */
div.userpro-field.userpro-submit {border-top: 1px solid #e5e5e5 }

div.userpro-maxwidth div.userpro-input label {color: #888 !important;}
div.userpro-maxwidth {border-top: 1px solid #e5e5e5 }

div.userpro-label label {color: #f23824 !important;}

div.userpro-label span.userpro-field-icon {
	border: 1px solid #f23824;
	background: #fff;
	color: #f23824;
	border-radius: 999px;
}
div.userpro-label span.userpro-field-icon.icon-active {color: #fff; background: #f23824; border:  #fff !important;}

/* text inputs, radio, etc */
div.userpro-input i.userpro-meta-value {color: #ccc}
div.userpro-input a:hover i.userpro-meta-value {color: #444}

div.userpro-input input[type=text],
div.userpro-input input[type=password],
div.userpro-input textarea
{
	border-radius: 0 !important;
	background: #fff !important;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 -1px 4px #eee !important;
	color: #888 !important;
}

div.userpro-input input[type=text]:focus,
div.userpro-input input[type=password]:focus,
div.userpro-input textarea:focus
{
	background: #fff;
	border: 1px solid #aaa !important;
	box-shadow: inset 0 -1px 4px #ccc !important;
	color: #555 !important;
}

div.userpro-input input[type=text].ok,
div.userpro-input input[type=text].ok:focus,
div.userpro-input input[type=password].ok,
div.userpro-input input[type=password].ok:focus
{
	padding-right: 40px !important;
}

/* checkbox and radio stuff */
div.userpro-input label.userpro-radio, div.userpro-input label.userpro-checkbox { color: #666 !important; }
div.userpro-input label.userpro-checkbox.hide-field {color: #888 !important; }
div.userpro-input label.userpro-radio span {background: url(img/unchecked.png) no-repeat center;}
div.userpro-input label.userpro-radio span.checked {background: url(img/checked.png) no-repeat center;}
div.userpro-input label.userpro-checkbox span {background: url(img/unchecked-checkbox.png) no-repeat center;}
div.userpro-input label.userpro-checkbox span.checked {background: url(img/checked-checkbox.png) no-repeat center;}

div.emd-filters label.userpro-radio span {background: url(img/unchecked.png) no-repeat center;}
div.emd-filters label.userpro-radio span.checked {background: url(img/checked.png) no-repeat center;}
div.emd-filters label.userpro-checkbox span {background: url(img/unchecked-checkbox.png) no-repeat center;}
div.emd-filters label.userpro-checkbox span.checked {background: url(img/checked-checkbox.png) no-repeat center;}

div.userpro-pic img {background: #ddd;}
div.userpro-pic-profilepicture img {border-radius: 999px;border: 1px solid #ccc}

div.ajax-file-upload-progress {border: 1px solid #ddd;}

div.ajax-file-upload-bar{background: #75c03d;}

/* overlay and popup content */
div.userpro-overlay {background: url(img/overlay.png) repeat;}

/* search users */
div.userpro-search {
	border-bottom: 1px solid #eee;
}

form.userpro-search-form input[type=text] {
	border-radius: 0;
	background: #fff !important;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 -1px 4px #eee !important;
	color: #888 !important;
}
form.userpro-search-form input[type=text]:focus{
	background: #fff;
	border: 1px solid #aaa !important;
	box-shadow: inset 0 -1px 4px #ccc !important;
	color: #555 !important;
}

form.userpro-search-form button {
	border-radius: 3px  !important;
        color: #fff !important;
        border-color:  #fff !important;
	background: #f23824 !important;
        -webkit-appearance: none;
}
form.userpro-search-form button:hover {
        border-color: #f23824 !important;
opacity: 0.65;

/* member listing widgets */
div.userpro-user div.userpro-user-link i {
	color: #666;
}

div.userpro-user div.userpro-user-link a {
	color: #fff;
	background: #666;
	box-shadow: 0 1px 2px #aaa;
}

div.userpro-user div.userpro-user-link a {
	border-radius: 20px;
}

div.userpro-user a.userpro-user-img span {
	background: #ff6000;
	color: #fff;
}

/* paginate users */
div.userpro-paginate span,
div.userpro-paginate a.page-numbers {
	background: #fff !important;
	border: 1px solid #ddd;
	text-decoration: none !important;
	color: #666 !important;
}

div.userpro-paginate span.current {
	background: #444 !important;
	color: #fff !important;
}

div.userpro-paginate a.page-numbers:hover {
	background: #222 !important;
	color: #fff !important;
}

/* latest users widget */
div.userpro-list-item {
	border-bottom: 1px solid #eee;
}
div.userpro-list-item-i {
	background: #eee;
	border-radius: 999px;
}
div.userpro-list-item-i img {
	border-radius: 999px;
}
a.userpro-list-item-name {
	color: #f23824 !important;
}
a.userpro-list-item-name:hover {
	color: #333 !important;
}

/* online users widget */
div.userpro-online-item {
	border-bottom: 1px solid #eee;
}
div.userpro-online-item-i {
	background: #eee;
	border-radius: 999px;
}
div.userpro-online-item-i img {
	border-radius: 999px;
}
a.userpro-online-item-name {
	color: #f23824 !important;
}
a.userpro-online-item-name:hover {
	color: #333 !important;
}

/** Social addon **/

a.userpro-count-link {
	border-right: 1px solid #eee;
	color: #999 !important;
}
a.userpro-count-link span {
	color: #333 !important;
}
a.userpro-count-link:hover {
	color: #fff !important;
	background: #333 !important;
}
a.userpro-count-link:hover span {
	color: #fff !important;
}
a.userpro-button.secondary i {
	color: #444;
}

/**
	Recaptcha
**/
.recaptcha_widget{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width: 100%;
}

#recaptcha_image{
	width:100% !important;
	height: auto !important
}

#recaptcha_image img{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:auto;
}

.recaptcha_is_showing_audio embed{
	height:0;width:0;overflow:hidden
}

.recaptcha_is_showing_audio #recaptcha_image{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	height: 60px;
}

.recaptcha_is_showing_audio #recaptcha_image br{display:none}
.recaptcha_is_showing_audio #recaptcha_image #recaptcha_audio_download{display:block}

.recaptcha_input{
	color: #888;
	margin: 10px 0 0 0;
}

.recaptcha_input label{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 12px !important;
}

.recaptcha_input input{width:100%}

.recaptcha_options{
	list-style: none;
	margin: 6px 0 0 0 !important;
	height: 18px;
}
.recaptcha_options li{
	float: left;
	margin: 0 6px 0 0;
}
.recaptcha_options li a{
	text-decoration: none;
	font-size: 16px;
	color: #336699;
	display:block;
	width: 20px;
	height: 18px;
	text-shadow:0 1px 1px #999;
}

.recaptcha_options li a:active{position:relative;top:1px;text-shadow:none}

.captcha_hide{display:none}

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  top: 0;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container a:hover{text-decoration: none !important}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	border-radius: 0;
	text-decoration: none;
	white-space: nowrap;
	height: 28px;
	line-height: 28px;
	background: #fff;
	color: #888 !important;
	border: 1px solid #ddd;
	box-shadow: inset 0 -1px 4px #eee;
}
.chosen-container-single .chosen-default {
  color: #888 !important;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('img/chosen-sprite.png') no-repeat 0px 5px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  border-radius: 0 !important;
  width: 100% !important;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('img/chosen-sprite.png') no-repeat 100% -20px !important;
  background: url('img/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)) !important;
  background: url('img/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%) !important;
  background: url('img/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%) !important;
  background: url('img/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%) !important;
  background: url('img/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%) !important;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  color: #555 !important;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc !important;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff !important;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #ddd;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 26px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 0;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('img/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 5px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('img/chosen-sprite.png') no-repeat -30px -20px;
  background: url('img/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('img/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('img/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('img/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('img/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 5px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 5px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('img/chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */